<div class="container py-nordFooter px-baseX">
  <h3
    class="
      text-nordSHeading
      font-bold
      leading-nordSHeading
      tracking-nordSHeading
      text-center text-nordGrey-dark
    "
  >
    Frequently asked questions
  </h3>
  <div>
    <cdk-accordion class="accordion">
      <cdk-accordion-item
        *ngFor="let item of listOfText; let index = index; first as isFirst"
        [expanded]="isFirst"
        #accordionItem="cdkAccordionItem"
        class="
          accordion-item
          transition-all
          mb-3
          bg-nordWhite-base
          rounded-nordSmall
        "
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index"
      >
        <div
          class="
            accordion-item-header
            font-bold
            text-nordSmall
            leading-nordTable
            text-nordGrey-dark
          "
          (click)="accordionItem.toggle()"
        >
          {{ item.heading }}
          <span class="accordion-item-description text-nordGrey-darkest">
            <i
              class="fas fa-chevron-{{
                accordionItem.expanded ? 'up' : 'down'
              }}"
            ></i>
          </span>
        </div>
        <div
          class="
            accordion-item-body
            text-nordGrey-dark text-nordSmall
            leading-nordTable
          "
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
        >
          <p class="mb-2">
            {{ item.text1 }}
          </p>
          <p>
            {{ item.text2 }}
          </p>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
</div>
