.accordion {
  display: block;
  max-width: 746px;
  margin: 0 auto;
  margin-top: 60px;
}

.accordion-item {
  display: block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.accordion-item + .accordion-item {
  border-top: none;
}

.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.accordion-item-description {
  font-size: 0.85em;
}

.accordion-item-header {
  padding: 16px;
}
.accordion-item-body {
  padding-left: 16px;
  padding-right: 88px;
  padding: 16px 88px 26px 16px;

  p:first-child {
    margin-bottom: 16px;
  }
}

.accordion-item-header:hover {
  cursor: pointer;
}
