<div class="container py-nordFooter px-nordBaseX">
  <div class="flex justify-between items-end">
    <div>
      <ul>
        <li
          class="
            uppercase
            text-nordGrey-base
            font-medium
            text-nordSmaller
            leading-nordFooter
            mb-4
          "
        >
          Engage
        </li>
        <li>
          <a
            href="/"
            class="
              text-nordGrey-darkest
              font-medium
              text-nordSmaller
              leading-nordFooter
              mb-3
              transition
              hover:text-nordBlack-base
            "
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            href="/"
            class="
              text-nordGrey-darkest
              font-medium
              text-nordSmaller
              leading-nordFooter
              transition
              hover:text-nordBlack-base
            "
            >Terms of Service</a
          >
        </li>
      </ul>
    </div>
    <div class="text-nordFooterCopy font-medium leading-nordFooterCopy">
      Copyrights
      <span class="align-top">&#xA9;</span>
      2020 NordPass.com
    </div>
  </div>
</div>
