<div>
  <h2>Get NordPass for business</h2>
  <div>
    <div>
      <img
        src="../../assets/img/np-form-image.png"
        alt="Image of open computer, opened NordPass application"
      />
    </div>
    <form action="">
      <div>Fill out your details, and we will get back to you shortly:</div>
      <input type="text" placeholder="Name" />
      <input type="text" placeholder="|Email" />
      <div>
        <span>
          <img
            src="../../assets/img/warning.svg"
            alt="Exclamation point in triangle"
          />
          <span>Email address cannot be empty</span>
        </span>
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Note">
      </textarea>
      <div>
        This information will be used by NordPass to respond to your inquiry as
        provided in our<a href="/">Privacy Policy</a>.
      </div>
      <button>Get started</button>
    </form>
  </div>
</div>
