<div class="container lg:pt-baseX lg:nordHero1Y pt-nordHero2Y">
  <div class="flex justify-center flex-wrap">
    <div class="flex flex-col justify-center">
      <h2
        class="
          font-bold
          text-nordFHeading
          leading-nordHeight
          tracking-nordSpacing
          w-nordWidth
          h-32
          left-nordLeft
          top-nordTop
          mb-9
        "
      >
        Get your passwords organized
      </h2>
      <div>
        <button
          class="
            bg-nordTeal-base
            text-nordWhite-base
            rounded-nordSmall
            py-nordSButtonY
            px-nordSButtonX
            font-bold
            leading-nordSHeight
            text-center text-xl
            hover:text-nordTeal-base hover:bg-nordGrey-dark
            transition
            mb-3
          "
        >
          Get started
        </button>
      </div>
    </div>
    <div class="w-nordFImg h-nordFImg top-nordFImg left-nordFImg">
      <img
        class="h-auto w-full"
        src="../../assets/img/np-hero-image.png"
        alt="Computer and mobile phone with opened NordPass application"
      />
    </div>
  </div>
</div>
