<div class="container py-nordFooter px-nordBaseX">
  <h3
    class="
      text-nordSHeading
      font-bold
      leading-nordSHeading
      tracking-nordSHeading
      text-center text-nordGrey-dark
    "
  >
    Top leaked passwords
  </h3>
  <div class="mt-16">
    <table class="block">
      <tr class="flex justify-between w-screen flex-wrap">
        <th class="text-base leading-nordSHeight text-nordGrey-dark">
          Password
        </th>
        <th>
          <select
            class="
              border
              box-border
              border-defaultBorderColor
              rounded-nordSmall
              py-nordSelectY
              pl-nordSelectL
              md:pr-nordSelectR
              pr-nordFooter
              text-currentBackground
              leading-nordSelect
            "
            #sortType
            (change)="ngOnChanges(sortType.value)"
          >
            <option value="count">Count</option>
            <option value="abc">ABC</option>
          </select>
        </th>
      </tr>
      <hr class="mt-6 text-nordGrey-light" />
      <div *ngFor="let item of leakedPassData; let i = index">
        <tr class="flex justify-between items-center my-6">
          <td>
            <span
              class="
                list-decimal list-inside
                text-nordGrey-dark
                leading-nordSelect
                text-nordSmall
              "
              >{{ i + 1 }}.</span
            >
            <span
              class="
                leading-nordTable
                text-nordSmall
                font-bold
                ml-7
                text-nordGrey-dark
              "
              >{{ item.value }}</span
            >
          </td>
          <td
            class="
              text-nordSmall
              leading-nordSelect
              text-right text-nordGrey-darkest
            "
          >
            {{ item.count }}
          </td>
        </tr>
        <hr class="text-nordGrey-light" />
      </div>
    </table>
  </div>
  <div class="flex items-center justify-center">
    <button
      class="
        bg-nordTeal-base
        text-nordWhite-base
        rounded-nordSmall
        py-nordTButtonY
        px-nordTButtonX
        font-bold
        text-center
        mt-11
        hover:text-nordTeal-base hover:bg-nordGrey-dark
        transition
      "
      (click)="showAll()"
    >
      Show all (50)
    </button>
  </div>
</div>
